quality-checker:
    phpmd:
        type: 'phpmd'
        enabled: true
        options: ~
    phpcs_psr1:
        type: 'phpcs'
        enabled: true
        options:
            standard: 'PSR1'
    phplint:
        type: 'phplint'
        enabled: true
        options: ~